<h1>Will You Be My Valentine, Mary? PLZ?</h1>
<p>Write one of Jeff's favorite Mary in this box and see if you win or something.</p>

<%= form_tag("/pages/home") do %>
  <%= text_field_tag :input_string %>
  <%= submit_tag "Submit" %>
<% end %>
